    .main {
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 5%;
        padding-top: 5px;
        width: 50%;
        height: 500px;
        background-color: white;
        align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 10px 0 rgba(0, 0, 0, 0.50);
        border-radius: 10px;
    }
    .inner {
        width: 92%;
        margin-left: 4%;
        margin-top: 18px;
        height: 90%;
        background-color: white;
        text-align: center;
        box-shadow:inset 1px 1px 4px 0px #000000;
        border-radius: 10px;
        background: url('../images/inner-wallpaper.jpg') no-repeat center center
    }

    body {
        background: url('../images/wooden-table-background-edit-coff.png') no-repeat center center fixed
    }

    .appholder {
        padding-top: 10px;
        width: 100%;
        height: 40%;
    }
    .appholderbottom {
        position: relative;
        bottom: -150px;
        width: 100%;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .icon {
        background-color: white;
        width:50px;
        height: 50px;
        border-radius: 15px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.8);
        margin-right: 10px;
        margin-top: 40px;
        z-index: -10;
    }

    .icon:active {
        box-shadow:inset 1px 1px 10px 0px #000000;
    }
    .iconbottom {
        position: relative;
        background-color: white;
        width:50px;
        height: 50px;
        border-radius: 15px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.8);
        margin-right: 30px;
        margin-left: 30px;
    }

    .iconbottom:active {
        box-shadow:inset 1px 1px 10px 0px #000000;
    }
    #top {
        position: fixed;
        width: 45%;
        margin-top: 5px;
        z-index: 200;
    }
    #time {
        margin-right: 88%;
        font-size: 18px;
        font-weight: bold;
    }
    #battery {
        margin-top: -20px;
        margin-left: 90%;
    }
    #wifi {
       margin-top: -20px;
        margin-left: 79%;
        margin-right: 5px;
    }
    @media (max-width: 1600px) {
        #time {
          margin-right: 85%;
        }
        #wifi {
          margin-left: 65%
        }
        #battery {
            margin-left: 85%;
        }
        .appholderbottom {
            width: 100%;
            bottom: -33%;
        }
    }
    @media (max-width: 1450px) {

        .appholderbottom {
            width: 100%;
            bottom: -33%;
        }
    }
    @media (max-width: 1300px) {
        #time {
          margin-right: 85%;
        }
        #wifi {
          margin-left: 60%
        }
        #battery {
            margin-left: 78%;
        }
        .appholderbottom {
            width: 100%;
            bottom: -45%;
        }
        .iconbottom {
            margin-right: 10px;
            margin-left: 10px;
        }
    }

    @media screen and (max-width: 750px) {
        #time {
          margin-right: 70%;
        }
        #wifi {
          margin-left: 30%
        }
        #battery {
            margin-left: 70%;
        }
        .appholderbottom {
            width: 100%;
            bottom: -45%;
        }
        .iconbottom {
            margin-right: 10px;
            margin-left: 10px;
        }
        .ifmail {
            top: 325px;
            font-size: 14px;
        }
        .icon {
            margin-top: 10px;
        }
    }
    @media screen and (max-width: 640px) {

        .appholderbottom {
            width: 100%;
            bottom: -45%;
        }
        .iconbottom {
            margin-right: 10px;
            margin-left: 10px;
        }
    }
    .content {
        margin-top: 22px;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: none;
        overflow-y: scroll;
    }

    .ifmail {
        position: absolute;
        left:   30%;
        width: 40%;
    }