    .main {
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 5%;
        padding-top: 5px;
        width: 50%;
        height: 500px;
        background-color: white;
        align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 10px 0 rgba(0, 0, 0, 0.50);
        border-radius: 10px;
    }
    .inner {
        width: 92%;
        margin-left: 4%;
        margin-top: 18px;
        height: 90%;
        background-color: white;
        text-align: center;
        box-shadow:inset 1px 1px 4px 0px #000000;
        border-radius: 10px;
        background: url('../images/inner-wallpaper.jpg') no-repeat center center
    }

    body {
        background: url('../images/wooden-table-background-edit-coff.png') no-repeat center center fixed
    }
    #sidecont {
        position: absolute;
        width: 0px;
        transition: 300ms ease-out;
    }
    .appholder {
        padding-top: 30px;
        width: 87%;
        height: 50%;
        padding-left: 13%;
    }
    .appholderbottom {
        position: relative;
        bottom: -50px;
        width: 75%;
        left: 0%;
        padding-left: 25%;
        height: 50%;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .icon {
        background-color: white;
        width:50px;
        height: 50px;
        border-radius: 15px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.8);
        margin-top: 0px;
        z-index: -10;
        cursor: pointer;

    }

    .icon:active {
        box-shadow:inset 1px 1px 10px 0px #000000;
    }

    .iconbottom {
        position: relative;
        background-color: white;
        width:50px;
        height: 50px;
        border-radius: 15px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.8);
        margin-right: 30px;
        margin-left: 30px;
        cursor: pointer;
    }

    .iconbottom:active {
        box-shadow:inset 1px 1px 10px 0px #000000;
    }
    figure {
        position: relative;
        float: left;
        margin-right: -25px;
        text-align: center;
    }

    figcaption {
        clear: both;
        font-weight: bold;
        font-size: 13px;
        margin-top: 8px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: default;
    }
    #top {
        position: fixed;
        width: 45%;
        margin-top: 5px;
        z-index: 200;
    }
    #oprojframe {
        position: absolute;
        top: 27%;
        left: 39%;
        background: white;
        border-radius: 15px;
        width: 0%;
        height: 0%;
        box-shadow:inset 0px 0px 4px 1px rgba(0, 0, 0, 0.8);
        transition: 200ms ease-out;
    }

    #cecicon {
        position: relative;
        z-index: 20;
        margin-left: -20px;
        margin-top: -10px;
        display: none;
        height: 0%;
        transition: 200ms ease-out;
    }

    #cecfigcap {
        margin-left: -20px;
        display: none;
        height: 0%;
        transition: 200ms ease-out;
    }

    #time {
        margin-right: 88%;
        font-size: 18px;
        font-weight: bold;
    }
    #battery {
        margin-top: -20px;
        margin-left: 90%;
    }
    #wifi {
       margin-top: -20px;
        margin-left: 79%;
        margin-right: 5px;
    }
    .ifmail {
        position: absolute;
        left:   30%;
        width: 40%;
        top: 35%;
    }

    @media only screen and (max-width: 1550px) {
        #time {
          margin-right: 85%;
        }
        #wifi {
          margin-left: 65%
        }
        #battery {
            margin-left: 85%;
        }
        .appholder {
            padding-left: 3%;
            width: 96%;
        }
        .appholderbottom {
            padding-left: 18%;
            width: 80%;
            left: 0%;
        }
    }

    @media only screen and (max-width: 1300px) {
        #time {
          margin-right: 85%;
        }
        #wifi {
          margin-left: 60%
        }
        #battery {
            margin-left: 78%;
        }
        .appholderbottom {
            width: 80%;
            left: 0%;
        }
        #oprojframe {
            top: 35%;

        }
        .appholder {
            padding-left: 0%;
            width: 97%;
        }
        .iconbottom {
            margin-right: 10px;
            margin-left: 10px;
        }
    }
    @media only screen and (max-width: 1050px) {
        #time {
          margin-right: 70%;
        }
        #wifi {
          margin-left: 30%
        }
        #battery {
            margin-left: 70%;
        }
        #oprojframe {
            top: 32%;
            padding-top: 20px;
        }
        .appholderbottom {
            width: 80%;
            bottom: -15%;
            left: 0%;
            padding-left: 17%;
        }
        .appholder {

            padding-left: 5%;

            width: 90%;
        }
        .iconbottom {
            margin-right: 10px;
            margin-left: 10px;
        }
        .ifmail {
            top: 325px;
            font-size: 14px;
        }

        figure {
            margin-top: 0px;
        }

    }

    @media only screen and (max-width: 768px) {
        #time {
          margin-right: 70%;
        }
        #wifi {
          margin-left: 30%
        }
        .ifmail {
            display: none;
        }
        #battery {
            margin-left: 70%;
        }
        .appholderbottom {
            width: 95%;
            bottom: -10%;
            left: 0%;
            padding-left: 5%;
        }
        .appholder {

            padding-left: 1%;
            width: 90%;
        }
        .iconbottom {
            margin-right: 10px;
            margin-left: 10px;
        }
        .ifmail {
            top: 325px;
            font-size: 14px;
        }
        figure {
            margin-top: 0px;
        }
    }
    @media screen and (max-width: 480px) {
    .appholderbottom {
        width: 100%;
    }
    .iconbottom {
        margin-right: 10px;
        margin-left: 5px;
    }
    figure {
        margin-top: -10px;
        }
    }
    .content {
        margin-top: 22px;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: none;
        overflow-y: scroll;
    }


