.workexp {
        display: none;
        width: 100%;
        height: 100%;

    }
    .timeline {
      position: relative;
      max-width: 1200px;
      margin: 0 auto;
      height: 280%;
      padding-top: 35px;

    }

    /* The actual timeline (the vertical ruler) */
    .timeline::after {
      content: '';
      position: absolute;
      width: 6px;
      background-color: #E5DADA;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.8);
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -3px;
      z-index: 0;
    }
    .expcont {
      padding: 10px 20px;
      position: relative;
      background-color: #F4EEEE;
      width: 25%;
      border-radius: 15px;
      margin-top: 13px;
      border: 1px solid;
      z-index: 3;
      cursor: pointer;

    }
    .tjanst {
        position: relative;
        top: -20px;
        font-size: 18px;
    }
    .description {
        display: none;
        position: relative;
        top: -25px;
        min-height: 3.9%;
    }
    .cardcont {
      position: relative;

    }

    .expcont:hover .description {
      display: block;
      animation: fade_in_show 0.5s;
    }
    .expcont:hover .tjanst {
        display: none;
        animation: fade_out_show 0.9s;
    }
    @keyframes fade_in_show {
        0% {display:none; opacity:0;}
        1% {display:block; opacity:0;}
        100% {display:block; opacity:1;}
    }
    @keyframes fade_out_show {
        0% {display:block; opacity:1;}
        1% {display:block; opacity:1;}
        100% {display: none; opacity:0;}
    }

    .circleright {
        position: absolute;
        width: 22px;
        height: 22px;
        background-color: white;
        border-radius: 15px;
        border: 3px solid;
        top: 10px;
        left: -58px;
        z-index: 2;

    }
    .circleleft {
        position: absolute;
        width: 22px;
        height: 22px;
        background-color: white;
        border-radius: 15px;
        border: 3px solid;
        top: 10px;
        right: -65px;
        z-index: 2;
    }
    .leftcont {
        z-index: 10;
        left: 14.5%;
        box-shadow:inset 0px 0px 4px 1px rgba(0, 0, 0, 0.8);
    }
    .right {
        z-index: 9;
        left: 55%;
        box-shadow:inset 0px 0px 4px 1px rgba(0, 0, 0, 0.8);
    }
    .dates {
        position: relative;
        font-size: 30px;
        font-weight: bold;
        z-index: 3;
        background-color: white;
        border: 1px solid;
        width: 10%;
        border-radius: 10px;
        margin-left: 45%;
        margin-bottom: 50px;
    }
    .worktitle {
        position: relative;
        z-index: 4;
        font-weight: bold;
        font-size: 30px;
        top: -20px;

    }
    .workdate {
        position: relative;
        background-color: white;
        border: 1px solid;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.8);
        top: -35px;
        font-weight: bold;
    }